:root {
  --clr-deep-violet: #b33661;
  --clr-violet: #ff337a;
  --clr-yellow: #ffee33;
  --clr-deep-blue: #2496b3;
  --clr-blue: #2aaccc;
  --clr-black: #000000;
}

/* ~~~~~ */
/* --> CSS RESET <-- */
/* ~~~~~ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* set up the body */
body {
  line-height: 1.3;
  min-height: 100vh;
}

/* work with images easier */
img,
picture {
  max-width: 100%;
  display: block;
  border: none;
}

/* CSS reset */

* {
  font-family: "Archivo", sans-serif;
}

body {
  background-color: var(--clr-yellow);
}

.navbar {
  width: 100%;

  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  border-bottom: 3px solid var(--clr-black);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

.logo {
  margin: 20px auto;
}

.logo-title {
  font-size: 180px;
  font-weight: 800;
  line-height: 0.75;
  letter-spacing: 0.2em;
  text-shadow: 7px 7px var(--clr-yellow);
}

.logo-subtitle {
  font-size: 50px;
  font-weight: 600;
  color: var(--clr-deep-violet);
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.navbar-menu button {
  width: 140px;
  height: 50px;
  margin: auto 60px;
  background-color: var(--clr-blue);
  box-shadow: 4px 4px var(--clr-deep-blue);

  font-size: 20px;
  font-weight: 400;
  color: var(--clr-black);
}

.navbar-menu button:hover {
  background-color: #fff;
  font-weight: 800;
  box-shadow: 4px 4px var(--clr-blue);
  transition: all 0.3s ease;
}

.navbar-menu button.menu-home {
  box-shadow: 4px 4px var(--clr-yellow);
}

.navbar-menu button.menu-myRoutes {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 4px 4px var(--clr-deep-violet);
}

.navbar-menu button.menu-myRoutes:hover {
  font-weight: 1000;
}

.main {
  width: 100%;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.about {
  width: 100%;
  padding: 0 20px;
  line-height: 35px;
  text-align: center;
  background-color: var(--clr-violet);
}

.about h3 {
  font-size: 20px;
  font-weight: 600;
}

.about span {
  color: var(--clr-yellow);
}

.home-container {
  /* max-width: 1400px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 30px;
  padding-right: 20px;
  gap: 20px;
}

.home-left img {
  width: clamp(75px, 275px, 275px);
}

.home-left button {
  width: 140px;
  height: 50px;
  margin: 30px auto;
  background-color: var(--clr-violet);
  box-shadow: 4px 4px var(--clr-deep-violet);

  font-size: 20px;
  font-weight: 400;
  color: var(--clr-black);
}

.home-left button:disabled {
  background-color: #ff337a48;
  box-shadow: 4px 4px #b3366251;
  color: #00000049;
  cursor: default;
}

.home-left p {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px var(--clr-blue);
}

.home-pointer {
  width: 50px;

  position: relative;
  top: 185px;
  left: -18px;
  z-index: 2;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.map-container {
  width: 900px;
  height: 600px;
  margin-top: 30px;
}

.map-sidebar {
  width: 100%;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  font-size: 12px;
  z-index: 1;
}

.my-routes {
  width: 100%;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.username {
  width: 100%;
  padding: 0 20px;
  line-height: 35px;
  text-align: center;
  background-color: var(--clr-violet);
}

.username h3 {
  font-size: 20px;
  font-weight: 600;
}

.username span {
  color: var(--clr-yellow);
}

.my-routes-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.my-routes-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding-top: 30px;
}

.my-routes-left button.clear-the-map {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: var(--clr-violet);
  box-shadow: 4px 4px var(--clr-deep-violet);

  font-size: 20px;
  font-weight: 400;
  color: var(--clr-black);
}

.my-routes-left button.clear-the-map:disabled {
  background-color: #ff337a48;
  box-shadow: 4px 4px #b3366251;
  color: #00000049;
  cursor: default;
}

.my-routes-left button.delete-route {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--clr-violet);
  box-shadow: 4px 4px var(--clr-deep-violet);

  font-size: 16px;
  font-weight: 600;
  color: var(--clr-black);
}

.my-routes-left button.go-route {
  width: 60px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--clr-blue);
  box-shadow: 4px 4px var(--clr-deep-blue);

  font-size: 16px;
  font-weight: 600;
  color: var(--clr-yellow);
}

.my-routes-left button.go-route:disabled {
  background-color: #2aaccc54;
  box-shadow: 4px 4px #2496b34f;
  color: #00000049;
  cursor: default;
}

.oneroute-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.oneroute-km {
  font-weight: 800;
}

.oneroute-container .public {
  margin-right: 10px;
}

.my-routes-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.map-container-small {
  width: 900px;
  height: 600px;
  margin-top: 30px;
}

.register {
  width: 100%;
  margin: 240px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.register-message {
  width: 100%;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--clr-violet);
}

.register-message h3 {
  font-size: 20px;
  font-weight: 600;
}

.register form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.register label {
  font-size: 22px;
  font-weight: 600;
}

.register input {
  width: 140px;
  height: 50px;
  border: 2px solid var(--clr-violet);
  box-shadow: 4px 4px var(--clr-deep-violet);

  font-size: 20px;
  font-weight: 600;
  color: var(--clr-black);
}

.register-button {
  width: 140px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--clr-violet);
  box-shadow: 4px 4px var(--clr-deep-violet);

  font-size: 20px;
  font-weight: 400;
  color: var(--clr-black);
}

.register-button:hover {
  background-color: var(--clr-yellow);
  font-weight: 800;
  transition: all 0.3s ease;
}

.register img {
  max-width: 250px;
}

/*
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1475px;
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .not-found-wrapper {
    padding: 50px 0 50px 0;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .not-found-wrapper {
    text-align: center;
  }
   .not-found-primary-text {
    font-size: 150px;
  }
}

@media screen and (max-width: 576px) {
  .footer-sect {
    text-align: center;
  }
  .footer-sect .footer-col:nth-of-type(3) {
    margin-bottom: 20px;
  }
}

*/
