@media screen and (max-width: 1399px) {
  .map-container,
  .map-container-small {
    width: 780px;
  }
}

@media screen and (max-width: 1199px) {
  .main,
  .my-routes,
  .register {
    margin-top: 214px;
  }

  .logo-title {
    font-size: 153px;
  }

  .logo-subtitle {
    font-size: 43px;
  }

  .map-container {
    width: 700px;
  }
  .map-container-small {
    width: 610px;
  }

  .home-left {
    padding: 30px 20px 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }

  .logo-title {
    font-size: 120px;
  }

  .logo-subtitle {
    font-size: 35px;
  }

  .navbar-menu button {
    margin: 0 auto;
  }

  .main,
  .my-routes,
  .register {
    margin-top: 279px;
  }

  .home-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .home-left {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .home-left img {
    max-width: 225px;
  }

  .home-pointer {
    top: -500px;
    left: 355px;
  }

  .map-container {
    width: 710px;
  }

  .map-container-small {
    width: 740px;
  }

  .my-routes-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .home-left img {
    max-width: 200px;
  }

  .home-pointer {
    width: 40px;
    left: 260px;
  }

  .map-container {
    width: 520px;
  }

  .map-container-small {
    width: 550px;
    height: 475px;
  }
}

@media screen and (max-width: 575px) {
  .logo-title {
    font-size: 70px;
  }

  .logo-subtitle {
    font-size: 20px;
  }

  .navbar-menu {
    gap: 15px;
  }

  .navbar-menu button {
    width: 90px;
    height: 35px;

    font-size: 18px;
  }

  .navbar-menu button.menu-myRoutes {
    font-size: 13px;
  }

  .main,
  .my-routes,
  .register {
    margin-top: 205px;
  }

  .home-container {
    gap: 0;
  }

  .home-left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .home-left img {
    max-width: 150px;
  }

  /* .home-left img {
    width: (75px, 125px, 150px);
  } */

  .home-pointer {
    width: 30px;
    top: -245px;
    left: 180px;
  }

  .map-container,
  .map-container-small {
    width: 365px;
    height: 380px;
  }

  .map-sidebar {
    padding: 6px 8px;
    font-size: 10px;
  }

  .my-routes-left button.delete-route {
    width: 75px;
    height: 30px;
    font-size: 14px;
  }
  .my-routes-left button.go-route {
    width: 45px;
    height: 30px;
    font-size: 14px;
  }

  .my-routes-left button.clear-the-map {
    width: 150px;
    height: 40px;
    font-size: 17px;
  }

  .register {
    gap: 30px;
  }
  .register form {
    flex-direction: column;
  }
}
